* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
main{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

.barra-navegacao{
    display: flex;
    padding: 24px 48px;
    justify-content: space-between;
}

.links a {
     text-decoration: none;
    display: block;
    color: inherit;

}

.links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
}